.gradle/
.idea/
.kotlin/
**/build/
!build-logic/convention/src/main/kotlin/org/autojs/build/
!build-logic/convention/src/main/kotlin/org/autojs/build/**
local.properties
*.jks
*.keystore
sign.properties
releases/
.migration-backup/
!protocol/*.aar
!gradle/wrapper/gradle-wrapper.jar

/sign.properties

/local.properties

*.pre-platform-versions.bak

__pycache__/

/app/releases/
